<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Sikeres foglalás</title>
</head>
<body>
    <h1>Sikeres foglalás!</h1>
    <p>Köszönjük, hogy velünk foglaltál!</p>
    <a href="/">Vissza az űrlaphoz</a>
</body>
</html>
